APP_NAME=PP-OCRv6 API
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

OCR_LANG=ch
OCR_ENGINE=
OCR_DET_MODEL=
OCR_REC_MODEL=
OCR_DET_MODEL_DIR=
OCR_REC_MODEL_DIR=
OCR_PRELOAD_ON_STARTUP=true
OCR_INCLUDE_RAW_BY_DEFAULT=false
OCR_MAX_CONCURRENCY=1

MAX_UPLOAD_SIZE_MB=10
MAX_IMAGE_PIXELS=16000000
RATE_LIMIT_PER_MINUTE=60
API_KEYS=ppocr-dev-7c9f2b8a6e1d4c30
